In [43]:
%%writefile myfile.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting myfile.txt

In [24]:
with open("myfile.txt", mode="r") as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [44]:
with open("myfile.txt", mode="a") as f:
    f.write("FOUR ON FORTH")

In [32]:
with open("myfile.txt", mode="r") as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FORTHFOUR ON FORTHFOUR ON FORTHFOUR ON FORTHFOUR ON FORTHFOUR ON FORTH

In [33]:
with open("myfile.txt", mode="r") as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FORTHFOUR ON FORTHFOUR ON FORTHFOUR ON FORTHFOUR ON FORTHFOUR ON FORTH

In [45]:
with open("myfile.txt", mode="r") as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FORTH

In [ ]:
list_sum = 0

for num in

In [9]:
my_string = "Hello"
my_list = []

for letter in my_string:
    my_list.append(letter)
my_list

['H', 'e', 'l', 'l', 'o']

In [10]:
my_string = "Hello World"
my_list = [letter for letter in my_string]
my_list

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [13]:
my_list = [num for num in range(0, 10)]
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
my_list = [letter for letter in "hello world"]
my_list

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [16]:
my_list = [num ** 2 for num in range(0, 10)] # square function executed on first num variable to get the square of the number.
my_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
my_list = [num * 0.5 for num in range(0, 10)] # root square function executed in on first num to get the root square of the number.
my_list

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

In [18]:
my_list = [x ** 2 for x in range(0, 11) if x % 2 == 0] # to check the even numbers using square and modulo
my_list

[0, 4, 16, 36, 64, 100]

In [19]:
celcius = [0, 10, 20, 34.5]
fahrenheit = [((9 / 5) * temp + 32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [20]:
celcius = [0, 10, 20, 34.5]

fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9 / 5) * temp + 32))
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [22]:
my_list = []

for num1 in [2, 4, 6]:
    for num2 in [1, 10, 1000]:
        my_list.append(num1 * num2)
my_list

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [23]:
my_list = [num1 * num2 for num1 in [2, 4, 6] for num2 in [1, 10, 1000]]
my_list

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]