In [43]:
%%writefile myfile.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting myfile.txt

In [24]:
with open("myfile.txt", mode="r") as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [44]:
with open("myfile.txt", mode="a") as f:
    f.write("FOUR ON FORTH")

In [32]:
with open("myfile.txt", mode="r") as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FORTHFOUR ON FORTHFOUR ON FORTHFOUR ON FORTHFOUR ON FORTHFOUR ON FORTH

In [33]:
with open("myfile.txt", mode="r") as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FORTHFOUR ON FORTHFOUR ON FORTHFOUR ON FORTHFOUR ON FORTHFOUR ON FORTH

In [45]:
with open("myfile.txt", mode="r") as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FORTH